/* 页脚 */

.footer {
    height: 240px;
    width: 100%;
    background-color: #06142F;
}

.footer-s1 {
    height: 210px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.footer-s2 {
    height: 30px;
    background: #202C46;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-mjj {
    height: 63px;
    width: 144px;
    font-size: 48px;
    color: #FFFFFF;
    margin: auto 0;
    position: absolute;
    top: 50%;
    margin-top: -32px;
}

.footer-s1 li {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 40px;
    position: absolute;
    left: 245px;
}

.footer .l1 {
    top: 53px;
}

.footer .l2 {
    top: 93px
}

.footer .l3 {
    top: 135px
}